.sobre-mim-section {
    width: 75rem;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.sobre-mim-section p {
    text-align: justify;
    font-size: var(--fonte-media);
    margin-top: 3.5rem;
    margin-bottom: 10rem;
}